<h1>Clients</h1>

<ul>
  <% @clients.each do |client| %>
    <li><a href = "/<% @user %>"/clients/<%= client.name %></a></li>
    <% end %>
</ul>

<% if @user == "client" %>
  <a href = "/clients/new" type = "button" class = "btn btn-success">Add client</a>
<% end %>
